*{
 margin: 0%;
 padding: 0%;
 
}
.maincard{
    background-color: #060435;
    border: 2px dotted grey;
    border-radius: 18px;
    margin: 0%;
    padding: 0%;
}
.card-img-top{
    border-radius: 30px;
}
.header{
    font-size: 15px;
    color:rgb(226, 229, 230);
    margin: 0px;
    
    display: flex;

}

.two-color {
    background: linear-gradient(90deg, #4b2f99, #337eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    padding: 0px;
    font-weight: 800;
    font-size: 30px;
  }

.maincard1{
    display: flex;
    margin :0px
   
}


.btn {
    font-weight: 700;
    width: 100%; 
    max-width: 250px; 
    border-radius: 20px;
    color: blue;
    background-color: white;
}

.card-text {
    color: white;
    font-size: 15px;
}

.card {
    background: linear-gradient(to right, rgb(98, 3, 199), #87CEEB);
    padding: 10px;
    border-radius: 10px;
    margin :7px 3px ;

}


.card-img-top {
    border-radius: 10px;
    max-width: 100%; 
}

.card3 {
    display: flex;
    flex-wrap: wrap; 
    /* gap: 10%;  */
   
    width: 100%;
    padding: 25px;
    box-sizing: border-box; 
   
}
.card4{
    display: flex;
    flex-wrap: wrap; 
    /* gap: 10%;  */

   
    
    box-sizing: border-box; 
}
