*{
  margin: 0%;
  padding: 0%;
  text-align: center;
  align-items: center;
}
.headerr {
 background: #14023e;
  color: #fff;
  align-items: center;
  
  /* height: 400px; */
}

.header {
  width: 80%;
  margin: auto;
  /* background-color: #333; */
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  font-size: medium;
  font-weight: 400;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.sign-up-btn {
  
background-color: rgb(49, 41, 41);
  color: #fff;
  border: 3px ;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;

}

.sign-up-btn:hover {
  background-color: #0056b3;
}



.butten button {
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin: 8px;
  font-size: 100%;
  color: white;
  width: 12%;
  font-weight: 700;
}

.logo img{
  width: 30px;
  height: 30px;
  border-radius: 50%;

}
.headerrr {
  /* margin-left: 35%;*/
  margin-top: 2%; 
  font-size: 40px;
  font-weight: 700;
  padding: 20px;

}
.two-color {
  background: linear-gradient(90deg, #4b2f99, #337eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

